<%- include('partials/header'); -%>

<h1> <%= postPage[0].postTitle %> </h1>

<span class="post-date"> <%=postPage[0].postDate%> </span>

<p> <%= postPage[0].postContent %> </p>

<%- include('partials/footer'); -%>